<%= form_for @host, url: podcast_people_podcasts_path(@podcast) do |f| %>
  <% if @host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host.errors.count, "error") %> prohibited this podcast from being saved:</h2>

      <ul>
      <% @host.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :user_name, 'Name' %>
        <%= f.autocomplete_field :person_name,
          autocomplete_person_name_people_path,
          update_elements: {},
          id_element: '#person_podcast_person_id',
          required: true,
          class: "form-control" %>
        <span class="help-block">If the name you wish to add is not in the text box, that's no problem. Simply type in the name and click Submit Request. We'll confirm your submission and check for similar names in the database.</span>
        <input id="person_podcast_person_id" name="person_podcast[person_id]" type="hidden" class="form-control">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :position %>
        <%= f.select(:position, options_for_select(connection_positions), {}, {class: "form-control"})%>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-12">
        <%= f.submit "Submit Request" ,class: "btn btn-primary pull-right" %>
      </div>
    </div>
  </div>

<% end %>
