<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag attachments['ipdb-logo.png'].url, width: '150', alt: 'IPD logo' %>
    <p style="font-size:16px;">
      <strong><%= @person.name %></strong>, Welcome to IPDb and thank you for signing up! Your email is <%= @user.email %>, and your password is <strong><%= @password %></strong>. You can change the password on <%= link_to 'profile page', '#' %> or <%= link_to 'forgot password page', '#' %>.
    </p>
  </body>
</html>
