<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2 class="username"><%= @user.person.name %></h2>
      <br />

      <%= image_tag @user.profile_image, class: "img-circle" %>
      <div class="social">
        <%= link_to '<i class="fa fa-facebook-square fa-2x"></i>'.html_safe,  'http://facebook.com/' + @user.facebook, target: '_blank' if @user.facebook.present? %>
        <%= link_to '<i class="fa fa-twitter-square fa-2x"></i>'.html_safe, 'http://twitter.com/' + @user.twitter, target: '_blank' if @user.twitter.present? %>
        <%= link_to '<i class="fa fa-pinterest-square fa-2x"></i>'.html_safe, 'http://pinterest.com/' + @user.pinterest, target: '_blank' if @user.pinterest.present? %>
        <%= link_to '<i class="fa fa-instagram fa-2x"></i>'.html_safe, 'http://instagram.com/' + @user.instagram, target: '_blank' if @user.instagram.present? %>
        <%= link_to '<i class="fa fa-linkedin-square fa-2x"></i>'.html_safe, 'http://linkedin.com/' + @user.linkedin, target: '_blank' if @user.linkedin.present? %>
        <%= link_to '<i class="fa fa-film fa-2x"></i>'.html_safe, '' + @user.imdb, target: '_blank' if @user.imdb.present? %>
      </div>
      <br />

      <p><%= @user.description %></p>
      <div class="row"></div>
      <hr />
      <div class="social"></div>
    </div>

    <div class="col-md-8 col-md-offset-1">

      <div class="row hosts">
        <h2>Podography</h2>
        <ul class="podcast-profile">

          <% shown_title = false %>
          <% @people_podcasts.each do |pp| %>
            <% podcast = pp.podcast %>
            <% if pp.position == 'Host' %>
              <% unless shown_title %>
                <h3>Hosts</h3>
                <% shown_title = true if pp.position == 'Host'%>
              <% end %>

              <li class="well col-md-12">
                <%= link_to image_tag( podcast.image_url.blank? ? podcast.image : podcast.image_url) + '', podcast %>
                <br />
                <h5><%= link_to podcast.name.truncate(100), podcast %></h5>
                <% if podcast.users == current_user %>
                  <%= link_to 'Edit',  edit_podcast_path(podcast), class: 'btn btn-warning' %>
                  <%= link_to 'Delete', podcast, class: 'btn btn-danger' ,method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>


      <div class="row co-hosts">
        <ul class="podcast-profile">
          <% shown_title = false %>
          <% @people_podcasts.each do |pp| %>
            <% podcast = pp.podcast %>

            <% if pp.position == 'Co-Host' %>
              <% unless shown_title %>
                <h3>Co-Hosts</h3>
                <% shown_title = true %>
              <% end %>
              <li class="well col-md-12">
                <%= link_to image_tag(podcast.image_url.blank? ? podcast.image : podcast.image_url) + '', podcast %><br>
                <h5><%= link_to podcast.name.truncate(100), podcast %></h5>
                <% if podcast.users == current_user %>
                  <%= link_to 'Edit',  edit_podcast_path(podcast), class: 'btn btn-warning' %>
                  <%= link_to 'Delete', podcast, class: 'btn btn-danger' ,method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="row guest">
        <ul class="podcast-profile">
          <% shown_title = false %>
          <% @people_podcasts.each do |pp| %>
            <% podcast = pp.podcast %>

            <% if pp.position == 'Guest' %>
              <% unless shown_title %>
                <h3>Guest</h3>
                <% shown_title = true %>
              <% end %>

              <li class="well col-md-12">
                <%= link_to image_tag(podcast.image_url.blank? ? podcast.image : podcast.image_url) + '', podcast %><br>
                <h5><%= link_to podcast.name.truncate(100), podcast %></h5>
                <% if podcast.users == current_user %>
                  <%= link_to 'Edit',  edit_podcast_path(podcast), class: 'btn btn-warning' %>
                  <%= link_to 'Delete', podcast, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="row art-work">
        <ul class="podcast-profile">
          <% shown_title = false %>
          <% @people_podcasts.each do |pp| %>
            <% podcast = pp.podcast %>

            <% if pp.position == 'Art Work' %>
              <% unless shown_title %>
                <h3>Art Work</h3>
                <% shown_title = true %>
              <% end %>
              <li class="well col-md-12">
                <%= link_to image_tag(podcast.image_url.blank? ? podcast.image : podcast.image_url) + '', podcast %><br>
                <h5><%= link_to podcast.name.truncate(100), podcast %></h5>
                <% if podcast.users == current_user %>
                  <%= link_to 'Edit',  edit_podcast_path(podcast), class: 'btn btn-warning' %>
                  <%= link_to 'Delete', podcast, class: 'btn btn-danger' ,method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="row music">
        <ul class="podcast-profile">
          <% shown_title = false %>
          <% @people_podcasts.each do |pp| %>
            <% podcast = pp.podcast %>

            <% if pp.position == 'Music' %>
              <% unless shown_title %>
                <h3>Music</h3>
                <% shown_title = true %>
              <% end %>
              <li class="well col-md-12">
                <%= link_to image_tag(podcast.image_url.blank? ? podcast.image : podcast.image_url) + '', podcast %><br>
                <h5><%= link_to podcast.name.truncate(100), podcast %></h5>
                <% if podcast.users == current_user %>
                  <%= link_to 'Edit',  edit_podcast_path(podcast), class: 'btn btn-warning' %>
                  <%= link_to 'Delete', podcast, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="row sound">
        <ul class="podcast-profile">
          <% shown_title = false %>
          <% @people_podcasts.each do |pp| %>
            <% podcast = pp.podcast %>

            <% if pp.position == 'Sound Engineer' %>
              <% unless shown_title %>
                <h3>Sound Engineer</h3>
                <% shown_title = true %>
              <% end %>
              <li class="well col-md-12">
                <%= link_to image_tag(podcast.image_url.blank? ? podcast.image : podcast.image_url) + '', podcast %><br>
                <h5><%= link_to podcast.name.truncate(100), podcast %></h5>
                <% if podcast.users == current_user %>
                  <%= link_to 'Edit',  edit_podcast_path(podcast), class: 'btn btn-warning' %>
                  <%= link_to 'Delete', podcast, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="row art-work">
        <ul class="podcast-profile">
          <% shown_title = false %>
          <% @people_podcasts.each do |pp| %>
            <% podcast = pp.podcast %>

            <% if pp.position == 'Performer' %>
              <% unless shown_title %>
                <h3>Performer</h3>
                <% shown_title = true %>
              <% end %>
              <li class="well col-md-12">
                <%= link_to image_tag(podcast.image_url.blank? ? podcast.image : podcast.image_url) + '', podcast %><br>
                <h5><%= link_to podcast.name.truncate(100), podcast %></h5>
                <% if podcast.users == current_user %>
                  <%= link_to 'Edit',  edit_podcast_path(podcast), class: 'btn btn-warning' %>
                  <%= link_to 'Delete', podcast, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <hr style="clear:both;" />
      <div class="tab-info">
        <ul id="tabs" class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab">About</a></li>
          <li><a href="#awards" data-toggle="tab">Awards</a></li>
          <li><a href="#profile" data-toggle="tab">Education</a></li>
          <li><a href="#work" id="tab" data-toggle="tab" >Work</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="home">
            <p><%= @user.about %></p>
          </div>
          <div class="tab-pane fade" id="awards">
            <p></p>
          </div>
          <div class="tab-pane fade" id="profile">
            <p><%= @user.education %></p>
          </div>
          <div class="tab-pane fade" id="work">
            <p><%= @user.work %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
