<div class="container">
  <div class="podcasts-list">

    <%= link_to 'Submit Podcast to IPDb', new_podcast_path, class: "btn btn-primary btn-lg podcasts-list__submit-podcast-btn" %>
    <h1>Listing podcasts</h1>

    <%= render partial: 'category_filter' %>

    <hr />

    <%= podcasts_breadcrumb %>
    <div class="row">
      <% @podcasts.each_with_index do |podcast, i| %>
        <div class="col-sm-4 col-md-2-4">
          <%= render partial: 'shared/podcast_thumb', locals: {podcast: podcast, rank: rank(@paginate.prev_page, i)} %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row nopadding">
      <%= paginate @paginate %>
  </div>
</div>
