<div class="container">
  <div class="row">
    <% @personsearch.each do |person| %>
      <% if person.user.nil? || person.user.membership != 'Podcast Fan Plus' %>
        <div class="col-md-2">
          <h4 class="username"><%= link_to person.name, person %></h4>
          <%= image_tag person.profile_image, class: "avatar img-circle center-block", style: 'width:150px; height:150px;' %>
          <br/>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="podcast">
    <%= link_to 'Add New Podcast', new_podcast_path, class: "btn btn-primary btn-lg pull-right" %>
    <% if @personsearch.any? %>
      <br /><br />
    <% end %>
    <h1>Listing podcasts</h1>
    <%= paginate @paginate %>
    <hr />
    <% @podcasts.each_with_index do |podcast, i| %>
      <li class="well col-xs-5 col-md-2">
        <% if podcast.user_approved? %>
          <%= link_to image_tag(if podcast.image_url.blank? then podcast.image else podcast.image_url end, class: 'podcast-art') + '', podcast %><br>
        <% else %>
          <%= link_to image_tag('microphone.png', class: 'podcast-art') + '', podcast %><br>
        <% end %>

        <div class="rating-box">
          <span class="rank label label-primary"><%= rank(@paginate.prev_page, i) %></span>
          <%= rating_for podcast %>
        </div>
          <h4><%= link_to podcast.name, podcast %></h4>
        <br>
        <% podcast.awards.each do |award| %>
          <%= award_icon award.name %>
        <% end %>

        <br>
        <% if podcast.category %>
          <span class="label label-success"><%= podcast.category.html_safe %></span>
        <% end %>
        <% if podcast.explicit %>
          <span class="label label-danger">explict</span>
          <br>
        <% end %>
        <% if podcast.video %>
          <span class="label label-info">video</span>
        <% end %>
        <br>

        <% podcast.people_podcasts.approved.each do |person_podcast| %>
          <% if person_podcast.position == 'Host' || person_podcast.position == 'Co-Host' %>
            By: <%= link_to person_podcast.person.name, person_podcast.person %>
            <br>
          <% end %>
        <% end %>

        <% if podcast.users == current_user %>
          <%= link_to 'Edit',  edit_podcast_path(podcast), class: 'btn btn-warning' %>
          <%= link_to 'Delete', podcast, class: "btn btn-danger" , method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <br>
      </li>
    <% end %>
  </div>
  <div class="row nopadding">
      <%= paginate @paginate %>
  </div>
</div>
