<% content_for :og_meta_tags do %>
  <meta property="og:url" content="<%= podcast_url @podcast %>" />
  <meta property="og:title" content="<%= @itunes.css(".left h1").text.blank? ? @podcast.name : @itunes.css(".left h1").text %>" />
  <meta property="og:description" content="<%= @podcast.description || @itunes.css('.product-review p').text %>" />
<% end %>

<div id="podcast-show-page"></div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3><%= @itunes.css(".left h1").text.blank? ? @podcast.name : @itunes.css(".left h1").text %></h3>
      <img src=<%= @podcast.image_url.blank? ? @podcast.image : @podcast.image_url %> style="width:100%;">

      <%= rating_for @podcast %><br>
      <div class="titles">
        <% @podcast.people_podcasts.each do |pp| %>
          <% if pp.approved? %>
            <li>
              <%= position_to_label pp.position %>
              <%= link_to pp.person.name, pp.person.user %>
            </li>
          <% end %>
        <% end %>
      </div>

      <h4>Number of Episodes : <%= @episodesdata.empty? ? @feed.entries.count : @episodesdata.count %></h4>
      <p><%= @podcast.description %></p>
      <p><%= @itunes.css('.product-review p').text %></p>

      <a
        id="share-podcast"
        class="btn btn-social btn-facebook btn-xs"
        data-url=<%= podcast_url @podcast %>
        target="_blank">
        <i class="fa fa-facebook"></i> Share
      </a>
      <a
        id="tweet-podcast"
        class="btn btn-social btn-twitter btn-xs"
        href=<%="https://twitter.com/intent/tweet?url=#{podcast_url @podcast}&via=ipdb"%>
        target="_blank"
        style="color:white;">
        <i class="fa fa-twitter"></i> Tweet
      </a>
      <br />
      <br />
      <% if user_signed_in? && current_user.following?(@podcast) %>
        <%= link_to unfollow_podcast_path(@podcast), class: 'btn btn-primary' do %>
          <span class='fa fa-minus'> Unfollow</span>
        <% end %>
      <% elsif user_signed_in? %>
        <%= link_to follow_podcast_path(@podcast), class: 'btn btn-primary' do %>
          <span class='fa fa-plus'>Follow</span>
        <% end %>
      <% end %>

      <br><br>
      <h4> Followers : <%= @podcast.followers_count %></h4>

      <div class="row">
        <% @podcast.followers.each do |follower| %>
          <div class="col-sm-4">
            <%= follower.person.name %>
            <%= image_tag(follower.profile_image.url, height: '60', width: '60') %>
          </div>
        <% end %>
      </div>
      <br>
      <%= link_to "Edit Connections", new_person_podcast_path, class: 'btn btn-primary' %>
    </div>

    <% unless @podcast.hideplayer %>
      <div class="col-md-6">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#episodes" role="tab" data-toggle="tab">Episodes</a></li>
          <li><a href="#reviews" role="tab" data-toggle="tab">Reviews</a></li>
          <li><a href="#awards" role="tab" data-toggle="tab">Awards</a></li>
          <!--<li><a href="#messages" role="tab" data-toggle="tab">Messages</a></li>
            <li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>-->
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="episodes">
            <br>
            <% if @podcast.user_approved? %>
              <!-- itunes feed -->
              <% unless @episodesdata.empty? %>
                <% @episodesdata.first([@episodesdata.count, 15].min).each do |episode| %>
                  <li class="well">
                    <p><%= episode.css('.text').text %></p>
                    <audio controls>
                      <source src=<%= episode["audio-preview-url"] %>>
                    </audio>
                    <div class="row actions">
                      <div class="col-md-4"></div>
                      <div class="col-md-4"></div>
                      <div class="col-md-4">
                        <%= link_to episode["audio-preview-url"], class: 'pull-right episode-download', target: :_blank do %>
                          <%= fa_icon 'download' %> Download
                        <% end %>
                      </div>
                    </div>
                  </li>
                <% end %>
              <% end %>

              <!-- rss feeds -->
              <% @feed && @feed.entries.first(15).each do |t| %>
                <li class="well">
                  <h4><%= link_to t.title, t.url %></h4>

                  <%= t.author %>
                  <% if @podcast.video %>
                    <video width="100%" controls poster="/images/ipdb.png">
                      <source src=<%= defined?(t.enclosure_url) ? t.enclosure_url : t.image %>>
                        Your browser does not support the audio element.
                    </video>
                    <p><%= sanitize t.summary.to_s %></p>
                  <% else %>
                    <p><%=sanitize t.summary %></p>
                    <audio controls>
                      <source src=<%= defined?(t.enclosure_url) ? t.enclosure_url : t.image %> type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                  <% end %>
                  <div class="row actions">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <a href=<%= defined?(t.enclosure_url) ? t.enclosure_url : t.image %> class="pull-right episode-download" target="_blank" download>
                        <%= fa_icon 'download' %> Download
                      </a>
                    </div>
                  </div>
                </li>
              <% end %>
            <% else %>
              <li class="well" style="list-style:none;"><p><%= link_to(image_tag('contact.jpg'), 'mailto:info@ipdb.net') %></p>
            </li>
            <% end %>
          </div>

          <div class="tab-pane" id="reviews">
            <% if @podcast.itunes_id && @id['feed']['entry'] %>
              <% @id['feed']['entry'].drop(1).each do |review| %>
                <h3><%= review['author']['name']['label'] %></h3>
                <%= review['content']['label'] %><br>
                <% if review['im:rating']['label'] == '5' %>
                  <%= fa_icon 'star 15x' %>
                  <%= fa_icon 'star 15x' %>
                  <%= fa_icon 'star 15x' %>
                  <%= fa_icon 'star 15x' %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane" id="awards">
            <br>
            <li class="well" style="list-style:none;">
              <% @podcast.awards.each do |award| %>
                <%= award_icon award.name %>
                <% if (nominations = award.nominations_list(@podcast.id)).presence %>
                  <span><%= "#{award.name}: #{nominations}" %></span>
                <% else %>
                  <span><%= award.name %></span>
                <% end %>
                <br>
              <% end %>
            </li>
          </div>
          <!-- <div class="tab-pane" id="messages">...</div> -->
          <!-- <div class="tab-pane" id="settings">...</div> -->
        </div>
      </div>
    <% end %>

    <div class="col-md-3">
      <% if @podcast.user_approved? %>
        <hr />
        <%= commontator_thread(@podcast) %>
        <!--
          <hr />
          <%= link_to(image_tag('http://podcastanswerman.com/wp-content/uploads/2011/10/AtoZRegister.jpg'), 'http://podcastanswerman.com/atoz/', target: '_blank') %>
          <hr />
          <%= link_to(image_tag('http://podcastdata.com/images/Hosting300x250.png'), 'http://create.blubrry.com/resources/podcast-media-hosting/?code=IPDb2014', target: '_blank') %>
        -->
        <hr />
      <% else %>
        <% # link_to(image_tag('ad-2.jpg'), 'http://www.eventbrite.com/e/ipdb-web-site-launch-party-tickets-13913853711') %>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- IPDb -->
        <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-8369774684567556"
          data-ad-slot="4507027791"
          data-ad-format="auto">
        </ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        <hr />
        <%= link_to(image_tag('ad-1.jpg'), new_user_registration_path) %>
        <hr />
      <% end %>

      <h3>Find us on Facebook</h3>
      <div class="fb-page" data-href="https://www.facebook.com/ipcdb" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
        <div class="fb-xfbml-parse-ignore">
          <blockquote cite="https://www.facebook.com/ipcdb">
            <a href="https://www.facebook.com/ipcdb">IPDB</a>
          </blockquote>
        </div>
      </div>

      <hr />
      <h3>Follow us on Twitter</h3>
      <a class="twitter-timeline" href="https://twitter.com/ipdb" data-widget-id="630382616311566336">Tweets by @ipdb</a>
      <!-- <%= link_to(image_tag('http://podcastdata.com/images/Hosting300x250.png'), 'http://create.blubrry.com/resources/podcast-media-hosting/?code=IPDb2014', target: '_blank') %> -->

      <% if @podcast.users.include?(current_user) %>
        <hr />
        <%= link_to 'Edit', edit_podcast_path(@podcast) %> |
        <%= link_to 'Back', podcasts_path %>
      <% end %>
    </div>
  </div>

  <div class="row">
      <h3>Recently Viewed</h3>
      <% @recently_viewed_podcasts.each do |podcast| %>
        <li class="well col-xs-5 col-md-2">
          <% if podcast.user_approved? %>
            <%= link_to image_tag(podcast.image_url.blank? ? podcast.image : podcast.image_url) + '', podcast, :class => "podcast-img" %><br>
          <% else %>
            <%= link_to image_tag('ipdb.png') + '', podcast, :class => "podcast-img" %><br>
          <% end %>

          <h4><%= link_to podcast.name, podcast %></h4>
          <%= rating_for podcast %>

          <br>
          <% podcast.awards.each do |award| %>
            <%= award_icon award.name %>
          <% end %>

          <br>
          <% if podcast.category %>
            <span class="label label-success"><%= podcast.category.html_safe %></span>
          <% end %>
          <% if podcast.explicit %>
            <span class="label label-danger">explict</span>
            <br>
          <% end %>
          <% if podcast.video %>
            <span class="label label-info">video</span>
          <% end %>
          <br>

          <% podcast.people_podcasts.each do |pp| %>
            <% if pp.position == 'Host' || pp.position == 'Co-Host' %>
              By: <%= link_to pp.person.name, pp.person.user %>
              <br>
            <% end %>
          <% end %>
        </li>

      <% end %>
  </div>
</div>

<script>
  $('span.thread_new_comment_link a').addClass('btn  btn-primary');
  $('.thread a:first').addClass('btn btn-primary btn-block');
</script>
