<!DOCTYPE html>
<html>
  <head>
    <title>IPDb</title>
    <!-- OpenGraph meta-tags -->
    <meta property="fb:app_id" content=<%= Rails.application.secrets.facebook['app_id'] %> />
    <meta property="og:url" content="http://ipdb.net" />
    <meta property="og:site_name" content="IPDb" />
    <meta property="og:title" content="IPDb" />
    <meta property="og:description" content="IPDb is a database and social media platform that connects people with podcasts they love and podcasters with the audience that loves them. Join today, see what you’ve been missing." />
    <meta property="og:image" content=<%= image_path 'ipdb-logo.png' %> />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <% if !admin_user_signed_in? %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-46547806-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
  </head>
  <body>
    <div id="fb-root"></div>

    <%= render "layouts/navi" %>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info flash-msg") %>
    <% end %>
    <%= yield %>
  </body>

  <footer>
    <p style="text-align:center; margin-top:2rem;">© IPDB 2015</p>
  </footer>

</html>
